<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
  <div class="property-item ">

    <a href="http://www.homeyagency.com/properties/B97546" target="_blank">
      <figure class="property-thumbnail">
        <img src="http://homey2.jp.production.s3.amazonaws.com/uploads/image/file/858/medium_P1030EB.tmp_____.jpg"  class="img-responsive attachment-property-thumbnail wp-post-image" alt="" width="" height="">
        <figcaption>
          <div class="property-title">
            <div class="title">
              Golden see view
            </div>
            <div class="subtitle">
              <span class="type">Appartments</span>
              <span>-</span>
              <span class="location">Si Ming</span>
            </div>
          </div>
        </figcaption>
      </figure>
    </a>
    <div class="property-content">
      <div class="property-meta clearfix">

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
          <div class="">
            <div class="meta-title">
              <i class="fa fa-bed"></i>
            </div>
            <div class="meta-data" data-original-title="Bedrooms" data-toggle="tooltips" title>
              3 bedrooms
            </div>
          </div>

          <div class="">
            <div class="meta-title">
              <i class="fa fa-tint"></i>
            </div>
            <div class="meta-data" data-original-title="Bedrooms" data-toggle="tooltips" title>
              1 bathrooms
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
          <div class="">
            <div class="meta-title">
              <i class="fa fa-expand"></i>
            </div>
            <div class="meta-data" data-original-title="Bedrooms" data-toggle="tooltips" title>
              115.0 sq.m.
            </div>
          </div>

          <div class="">
            <div class="meta-title">
              <i class="fa fa-building-o"></i>
            </div>
            <div class="meta-data" data-original-title="Bedrooms" data-toggle="tooltips" title>
              5 rooms
            </div>
          </div>
        </div>

      </div>


      <div class="property-price">
        <div class="price-tag">
          <i class="fa fa-list-o property-more"></i>
          <span>￥5,000/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
