
<h4 class="separate-title">房屋资产信息</h4>
<hr class="separate-line">
<div class="col-md-12">
  <% if current_user && (current_user.has_role?(:admin)||current_user.has_role?(:imanager)||current_user.has_role?(:imanager_p))%>
    <%= link_to('编辑',edit_house_path(@house),class:"btn btn-info") %>
  <% end %>
  <%= link_to "返回",houses_path,class:"btn btn-default" %>
</div>
<%= render "show_partial" ,:house=>@house%>
<script type="text/javascript">
  $(function(){
    SyntaxHighlighter.all();
  });
  $(window).load(function(){
    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 210,
      itemMargin: 5,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      sync: "#carousel",
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });
</script>
