<div class="">
  <div class="container-worker">
    <div class="row">
      <div class="col-md-6">
        <div class="kanban">
          <h3>员工看板</h3>
          <%= link_to "日程安排","#",class:"kanban-btn" %>
        </div>

      </div>
      <div class="col-md-6 ">
        <div class="kanban">
          <h3>员工信息</h3>
          <%= link_to "查看信息",backend_profiles_path,class:"kanban-btn" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="kanban">
          <h3>员工配备</h3>
          <%= link_to "查看配备工具","#",class:"kanban-btn" %>
        </div>

      </div>
      <div class="col-md-6 ">
        <div class="kanban">
          <h3>员工培训</h3>
          <%= link_to "培训安排","#",class:"kanban-btn" %>
        </div>
      </div>
    </div>
  </div>

</div>
