/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require flexslider.css
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 body,html ,button,input,select,textarea {
   font-family: sans-serif,"Helvetica Neue",Helvetica,Tahoma,sans-serif
 }
 .alert-container{
  position: absolute;
  z-index: 100;
  width: 100%;
  opacity: 0.7;
  // margin-top: 50px;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-brand{
  padding: 0;
}
.navbar-brand .nav-icon{
  width: 50px;
  height: 50px;
  overflow: hidden;

}
.icon-title{
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 50px;
  padding: auto;
}
.show-image{

  width: 100%;
}
@media (min-width: 1200px){
  .property-item {
    font-size: 0.9em;
  }
}
.property-item {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.property-item:hover{
  box-shadow: 2px 4px #ccc;
}
.property-item .property-thumbnail{
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px){
  .property-item .property-title {
    position: absolute;
    text-align: right;

  }
}
.property-title{
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
}
.property-item a {
  color: #d65a81;
  text-decoration: none;
}


.property-item .title{
  font-size: 14px;
  font-weight: bold;
}
.property-item .subtitle{
  font-family: "Helvatica Neue",Helvatica,Arial,sans-serif;
  font-weight: 700;
  color: #666;

}
@media (min-width: 768px){
  .property-item figcaption{
    position: absolute;
    text-align: right;
  }
}
@media (min-width: 768px){
  .property-item img{
    width: calc(102%);
    filter: none;
  }
}
.property-item img{
  max-width: none;
  width: 100%;
  backface-visibility: hidden;
  height: 250px;
  margin: auto;
  display: block;
}
.property-item figcaption{
  top: 0;
  height: 100%;
  width: 100%;
}
.property-item .property-content{
  text-align: center;
  background-color: #fff;
}
@media (min-width: 768px){
  .property-item .property-content .property-meta{
    text-align: left;
  }
}
.property-item .property-content .property-meta {
  min-height: 72px;
  padding: 15px;
  font-family: "Helvatica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  line-height: 2;
  color: #999999;
  // text-align: center;
}

.property-item .property-content .property-meta .meta-title{
  display: inline-block;
  width: 20px;
  font-weight: 700;
}
.property-item .property-content .property-meta .meta-data{
  display: inline-block;
}
@media (min-width: 768px){
  .property-item .property-price{
    line-height: 40px !important;
  }
}
@media (min-width: 992px){
  .property-item .property-price{
    font-size: 1.1em;
  }
}
.property-item .property-price{
  padding: 0 15px;
  color: #666666;
  text-align: left;
  background-color: #e9e9e9;
  overflow: hidden;
}
.property-item .property-price .price-tag{
  float: right;
  color: #333;
  font-weight: bold;
}
// flexslider 部分
.slider { margin: 0px 0 10px!important;}
 #carousel li {margin-right: 5px;}
 #carousel img {display: block; opacity: .5; cursor: pointer;}
 #carousel img:hover {opacity: 1;}
 #carousel .flex-active-slide img {opacity: 1; cursor: default;}
// separate
.separate-title {
  margin-bottom: 0;
  color: #e84828;
}
.separate-line {
  margin-top: 0;
  border-top: 4px solid #eee;
}
// devise 部分
.devise-bg {
  width: 100%;
  min-height: 100%;
  height: 90rem;
  background-image: url("http://p2sh8lo60.bkt.clouddn.com/landing-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #09383E;
}
.container__item {
  margin: 0 auto 40px;
  font-size: 62.5%;
}

.landing-page-container {
  width: 100%;
  min-height: 100%;
  height: 90rem;
  background-image: url("http://p2sh8lo60.bkt.clouddn.com/landing-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #09383E;
}

.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.devise-container {
  margin-top: 10%;
}
.devise-bg .greeting {
  position: absolute;
  top: 11.6rem;
  left: 13rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
.devise-bg .greeting:after {
  /* content: ''; */
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0C383E;
  position: relative;
  top: -0.65rem;
  left: -5.05rem;
}
//////////
/* superslide 本例子css */
.slideTxtBox{ width:100%; border:none;}
.slideTxtBox .hd{
  height:50px;
  background:#fff;
  padding:0 ;
  position:relative;
  margin: 0 auto;
  }
.slideTxtBox .hd ul{
  float:left;
  position:absolute;
  top:16px;
  list-style: none;
  width:100%;
  justify-content: space-between;
}
.slideTxtBox .hd ul{
  margin:0 auto;
}
.slideTxtBox .hd ul li{
  width: 19.5%;
  text-align: center;
  font-size: 16px;
  height: 35px;

}
.slideTxtBox .hd ul li.on{
  color: #f5533d;
  border-bottom: 4px solid #f5533d;
}

.slideTxtBox .bd .box-left{
  padding: 10%;
}
.slideTxtBox .bd .box-right{
  padding: 10%;
  color: #fff;
}
.slideTxtBox .bd{
  // width: 110%;
  // margin: 0 -20px;
  // background-color: #ccc;
  background-color: #2e3047;
  color: #fff;
}
.slideTxtBox .bd ul{
  width: 100%;
  padding:15px;
  zoom:1;
  height: 500px;
  list-style: none;
}
.slideTxtBox .bd li{
  height:24px; line-height:24px;
  position: relative;
  left: 0;
}
.slideTxtBox .bd li a{
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 5px;
  min-width: 200px;
}
.slideTxtBox .bd li a:hover{
  background-color: #f5533d;
}
.slideTxtBox .bd li .box-item{
  margin-bottom: 20px;
}
.slideTxtBox .bd li .date{ float:right; color:#999;  }

.title-main{
  font-size: 30px;
  text-align: center;
  font-family: sans-serif,"Helvetica Neue",Helvetica,Tahoma,sans-serif
}
.hot-contain{
  margin: 0 10%;
}
.hot-contain .more{
  text-align: right;
  margin-bottom: 0;
  font-size: 12px;
}
.hot-contain .more a:hover{
  color: #f5533d;
  text-decoration: none;
}
.sign-container{
  background-color: #ccc;
  height: 300px;
  width: 100%;
}
// backend部分
.backend-left{
  margin-top: 50px;
}
.backend-left ul li{
  border: solid 1px #ccc;
  text-align: center;
  // padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
}
.backend-left ul li:hover{
  background-color: #f5533d;
}
.backend-left ul li a{
  text-decoration: none;
  color: #f5533d;
  display: block;
  padding: 10px;
}
.backend-left ul li:hover a{
  color: #fff;
}
.backend-left ul li.active a{
  color: #fff;
  background-color: #f5533d;
}
.backend-left ul li.active a::after{
  color: #fff;
  background-color: #f533d;
}
.backend-left ul{
  list-style: none;
}
.backend-right{
  margin-top: 10px;
  // border: solid 1px #ccc;
  // border-radius: 2px;
  // height: 800px;
}

.backend-right .country-select select{
  font-size: 11px;
  height: 33px;
}
.backend-right h1{
  display: inline-block;
}
.backend-right .panel-heading{
  min-height: 45px;
}
.backend-right .table tbody td{
  border-top: none;
  border-bottom: 1px solid #ddd;
}
.panel-body label{
  margin-right: 10px;
}
.backend-right .btn-nav{
  margin: 10px;
  min-width: 100px;
}
#permission-index td{
  padding: 0;
}
#permission-index tr:hover{
  background-color: #00ffff;
  font-weight: bold;
}
